@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 213 97% 87%;
        --primary-foreground: 224 71% 45%;

        --secondary: 220 0% 90%;
        --secondary-foreground: 0 0% 45%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 70%;
        --input: 0 0% 80%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
        --color-paper: hsl(0, 0%, 20%);
    }

    .dark {
        --background: 0 0% 4%;
        --foreground: 240 60% 99%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 224 631% 18%;
        --primary-foreground: 213 97% 80%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 60%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 40%;
        --input: 0 0% 50%;
        --ring: 0 0% 83.1%;
        --color-paper: 44 46 62;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background font-mono text-foreground;
    }

    .small-copy {
        @apply text-[0.75rem] sm:text-[0.875rem];
    }
}

@layer utilities {
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@layer components {
    .bullet-list > li {
        @apply relative pl-[30px];
    }
    .bullet-list > li:before {
        @apply absolute left-0 top-0 mr-3.5 text-primary-foreground;
        content: '❯';
    }

    .tech-list {
        @apply bg-paper flex w-fit items-center gap-4 rounded-br-lg rounded-tr-lg pr-4;
    }

    .tech-list::before {
        content: '//';
        @apply rounded-bl-lg rounded-tl-lg bg-primary px-2 py-0.5 sm:py-2;
    }

    .tabs {
        --lateral-offset: 41px;
        margin-left: calc(var(--lateral-offset) * -1);
        padding-left: var(--lateral-offset);
        width: calc(100% + var(--lateral-offset) * 2);
        @apply no-scrollbar visible relative flex touch-pan-x overflow-x-auto py-2.5 pr-2.5 w-auto sm:ml-0 sm:w-auto sm:min-w-fit sm:flex-col sm:p-0;
    }
}
